.this_only{
    background: linear-gradient(180deg, #00B4DB 0%,#0083B0 100%) no-repeat;
    width: 150px;
}

.button_rounded {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:10px;
	border:1px solid #dcdcdc;
  display:inline-block;
	cursor:pointer;
	color:#0083B0;
	font-family:Arial;
	font-size:15px;
  font-weight:bold;
  padding: 8px, 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  text-align: center;
  }

  .p_only{
    width: 20px;
    padding: 20px;
    line-height: 20px;
    font-family: Arial;
    font-weight: bold;
    background: linear-gradient(35deg, #0083B0 5%, #00B4DB 100%);
    font-size:18px;
    border-radius: 50%;
    color: #f9f9f9;
    font-variant: normal;
    font-style: normal;
    display: block;
    border: 2px solid #f9f9f9;
    box-shadow: 9px 21px 54px -12px rgba(0,0,0,0.59);
    text-shadow: 1px 1px 5px #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none; /* Standard */

}

.steps {
  width: 140px;
  display: flex;
  padding-left: 12px;
  justify-content: space-evenly;
  top: 15px;
  position: absolute;
  height: 5px;
  user-select: none; /* Standard */
  z-index: 2;
}

.pos {
  width: 20px;
  display: flex;
  user-select: none; /* Standard */
  z-index: 2;
  }

.dot {
  width: 5px; 
  height: 5px;
  background-color: #00B4DB;
  border-radius: 50%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}


.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 150px; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 7.5px;  
    background: #f9f9f9; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .4s;
    z-index: 1;
    opacity: 0.8;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%; 
    border:1px solid rgb(13, 119, 143);
    background: #9ddceb; /* Green background */
    opacity: 0.9;
    cursor: pointer; /* Cursor on hover */
    z-index: 1001;
}

.slider:hover{
  opacity: 1;
}

.button_rounded:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.button_rounded:active {
	position:relative;
	top:1px;
}

        
